.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas: 
  "h h"
  "n c";
  grid-row: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header {
  grid-area: h;
  background-color: #09CA20;

}

.header img {
  width: 25px;
}

.nav {
  grid-area: n;
  background-color: gray;
}

.content {
  grid-area: c;
  background-color: aqua;
}

.content img {
  width: 800px;
}