.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  color: white;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .test {
  padding: 100px
}
.dialog:hover {
  cursor: pointer;
  color: red;
}

.messages {
  padding: 10px;
}

.textArea {
  padding: 10px;
}

.textArea button {
  background-color: rgb(0, 247, 255);
  width: 180px
}